td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

table {
    alignment: center;
    width: 80%;
    margin: 100px auto auto;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Karma", sans-serif
}

button {
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}
